.testimonial-ifrc {
  background: no-repeat top right url('../img/testimonials/ifrc.jpg');
  background-size: 70% auto;
}
.testimonial-cm {
  background: no-repeat top right url('../img/testimonials/cm.jpg');
  background-size: 70% auto;
}